/* Poppins font */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

:root {
  --red: #fd5d5d;
  --red-hovered: #ff8080;
  --red-disabled: #b33030;
  --white: #fff7bc;
  --green: #c0eda6;
  --green-hoverd: #77d970;
  --crimson: #d82148;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  transition: 300ms;
}

#app {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.app {
  width: 100%;
  height: 100vh;
}

.desktop.app {
  max-width: 750px;
  max-height: 700px;
  border: 4px solid var(--red);
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
}

.mobile.app {
  border: none;
  border-radius: none;
  position: static;
}

.card {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 14px;
}

.card.panel > *:not(:last-child){
  margin-bottom: 14px;
}

.preview.card .title {
  font-size: 24q;
  margin-bottom: 14px;
}

